@keyframes page-end-slide-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#page-end {
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;

	animation: page-end-slide-in 250ms;
	animation-delay: 0ms;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-direction: forwards;
	animation-timing-function: ease-in;

	div#container {	
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		div#image-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 10px;
			grid-row-gap: 10px;

			img {		
				display: block;
				height: 256px;
			}
		}		

		h1 {
			transition: 125ms ease-in-out;
			left: 0%;
			right: 0%;
			margin-top: 20pt;
			text-align: center;
			color: whitesmoke;
			font-family: 'Lato', sans-serif;
		}
	}

}