<link href="/app/src/css/end.css" rel="stylesheet"/>

<div class="page" id="page-end">
    <div id="container">
        <div id="image-container">
            <img onclick="window.open(`https://github.com/LeandroSQ`, `_blank`)" class="lazyload" data-src="/app/src/img/plataformas/Github.png"/>
            <img onclick="window.open(`https://www.linkedin.com/in/leandroquevedo/`, `_blank`)" class="lazyload" data-src="/app/src/img/plataformas/Linkedin.png"/>
        </div>
        <h1 id="typed-page">
            Esse sou eu :)
            <br>
            Leandro Soares Quevedo
        </h1>
    </div>
</div>