<!DOCTYPE HTML>
<html>
	<head>
		<title>?</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="../css/main.css"/>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper">
			
		</div>

		<!-- <script src="https://cdn.jsdelivr.net/npm/typeit@VERSION_NUMBER/dist/typeit.min.js" /> -->
		<script src="/RCA-Resume/app/src/js/lib/typeit.js"></script>
		<script src="/RCA-Resume/app/src/js/PageModel.js"></script>
		<script data-main="/RCA-Resume/app/src/js/main.js" src="/RCA-Resume/app/src/js/lib/require.js"></script>
	</body>
</html>