<link href="./../css/page2.css" rel="stylesheet"/>

<div class="page" id="page2">
	<div id="container">
		<img title="Banco renner" src="../img/projetos/Banco renner.png"/>
		<img title="Banco safra" src="../img/projetos/Banco safra.png"/>
		<img title="Banco topázio" src="../img/projetos/Banco topázio.png"/>
		<img title="Bonafont" src="../img/projetos/Bonafont.png"/>
		<img title="Central de saúde" src="../img/projetos/Central de saúde.png"/>
		<img title="DB Scheduller" src="../img/projetos/DB Scheduller.png"/>
		<img title="DB-Intra" src="../img/projetos/DB-Intra.png"/>
		<img title="Molecoola" src="../img/projetos/Molecoola.png"/>
		<img title="Omni" src="../img/projetos/Omni.png"/>
		<img title="RCI" src="../img/projetos/RCI.png"/>
		<img title="Sabemi" src="../img/projetos/Sabemi.png"/>
		<img title="Seprorgs" src="../img/projetos/Seprorgs.png"/>
		<img title="Sky sirius" src="../img/projetos/Sky sirius.png"/>
		<img title="Sodexo" src="../img/projetos/Sodexo.png"/>
		<img title="Taqui" src="../img/projetos/Taqui.png"/>
		<img title="Anjus" src="../img/projetos/Anjus.png"/>
		<img title="PromoterK" src="../img/projetos/PromoterK.png"/>
		<img title="SurfConnect" src="../img/projetos/SurfConnect.png"/>
	</div>
	<h1 id="typed-page"></h1>
</div>