<link href="./../css/page2.css" rel="stylesheet"/>

<div class="page" id="page2">
	<div id="container">
		<img src="./../img/projetos/Banco renner.png"/>
		<img src="./../img/projetos/Banco safra.png"/>
		<img src="./../img/projetos/Banco topázio.png"/>
		<img src="./../img/projetos/Bonafont.png"/>
		<img src="./../img/projetos/Central de saúde.png"/>
		<img src="./../img/projetos/DB Scheduller.png"/>
		<img src="./../img/projetos/DB-Intra.png"/>
		<img src="./../img/projetos/Molecoola.png"/>
		<img src="./../img/projetos/Omni.png"/>
		<img src="./../img/projetos/RCI.png"/>
		<img src="./../img/projetos/Sabemi.png"/>
		<img src="./../img/projetos/Seprorgs.png"/>
		<img src="./../img/projetos/Sky sirius.png"/>
		<img src="./../img/projetos/Sodexo.png"/>
		<img src="./../img/projetos/Taqui.png"/>
	</div>
	<h1 id="typed-page"></h1>
</div>