<link href="/app/src/css/page1.css" rel="stylesheet"/>

<div class="page" id="page1">
	<div id="container">
		<img src="/app/src/img/tecnologias/nodejs.png" height="128px"/>
		<img src="/app/src/img/tecnologias/kotlin.png" height="128px"/>
		<img src="/app/src/img/tecnologias/android.png" height="128px"/>
		<img src="/app/src/img/tecnologias/javascript.png" height="128px"/>
		<img src="/app/src/img/tecnologias/typescript.png" height="128px"/>
		<img src="/app/src/img/tecnologias/mongodb.png" height="128px"/>
		<img src="/app/src/img/tecnologias/java.png" height="128px"/>
	</div>
	
	<h1 id="typed-page"></h1>
</div>