@keyframes page2-image-in {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	40% {
		transform: scale(1.2);
	}
	70% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes page2-slide-out {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		// transform: translateX(-110%);
		opacity: 0;
	}
}

#page2 {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;	
	
	&.exiting {
		animation: page2-slide-out 1s;
		animation-delay: 0ms;
		animation-fill-mode: both;
		animation-iteration-count: 1;
		animation-direction: forwards;
		animation-timing-function: cubic-bezier(0.96, 0.01, 1, 1);
	}

	div#container {	
		img {		
			position: fixed;	
			display: block;
			width: 128px;
			height: 128px;
			opacity: 0;

			&.active {
				animation: page2-image-in 500ms;
				animation-delay: 0ms;
				animation-fill-mode: both;
				animation-iteration-count: 1;
				animation-direction: forwards;
				animation-timing-function: ease-in-out;
			}
		}
	}

    h1 {
		position: fixed;
		top: calc(50% - 19.5px);
		transition: 125ms ease-in-out;
		left: 0%;
		right: 0%;
		
		text-align: center;
		color: whitesmoke;
		font-family: 'Lato', sans-serif;
	}

}